
body {
  font: 10px sans-serif;
}

div {
  display: inline;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  vector-effect: non-scaling-stroke;
}
.avg {
  stroke: black;
}
.hi {
  stroke: orange;
}
.lo {
  stroke: steelblue;
}
